<div class="container px-5 px-sm-0">
    <div class="row">
        <%=render 'books/user_info', user: @user %>
      <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
          <table class="table">
              <tbody>
                <tr>
                  <th></th>
                  <th>Title</th>
                  <th>Opinion</th>
                </tr>
              </tbody>
              <% @book_opinions.each do |book_opinions| %>
                <tr>
                  <td><%= image_tag book_opinions.user.get_profile_image(100,100) %></td>
                  <td><%= link_to book_opinions.title, book_path(book_opinions.id) %></td>
                  <td><%= book_opinions.body %></td>
                </tr>
              <%end%>
          </table>
      </div>
    </div>
</div>